.wrapper {
    overflow: hidden;
    min-height: 100vh;
    background: url('https://10wallpaper.com/wallpaper/2560x1920/1712/Purple_Violet_Cubes_Geometric_2017_4K_HD_2560x1920.jpg') center / cover no-repeat;
}

.container {
    padding: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    @media (max-width: 768px) {
        padding: 30px;
    }
}